.root
  display: flex
  flex-direction: row
  align-items: center
  &.margin
    margin-right: 50px


.title
  margin-right: 15px

  width: 100px
  min-width: 100px

  font-size: 14px
  font-weight: bold


.controls
  display: flex
  flex-direction: row
  justify-content: space-between

  width: 100%


@media (max-width: 800px)
  .root.margin
    margin-right: 0