.root
  display: inline-flex
  width: 200px

.img
  width: 100%
  height: 100%
  content: url('@/assets/images/logo.png')

@media (max-width: 400px)
  .root
    width: 100px

  .img
    content: url('@/assets/images/logo-mobile.png')
