.root
  width: 1200px
  max-width: 1200px
  margin: 0 auto
  min-height: 100%

@media (max-width: 1200px)
  .root
    max-width: 1000px

@media (max-width: 1000px)
  .root
    max-width: 800px

@media (max-width: 800px)
  .root
    padding: 0 20px
    max-width: 600px

@media (max-width: 600px)
  .root
    max-width: 400px

@media (max-width: 400px)
  .root
    max-width: 350px
