.root
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px
  margin-bottom: 50px
  &.centered
    justify-content: center

.right
  display: flex
  align-items: center
  justify-content: space-between

.userName
  display: inline-flex
  margin-right: 20px
