.row
  display: flex
  align-items: center
  margin-bottom: 20px
  &:last-child
    margin-bottom: 0

.item
  width: 50%
  margin-right: 30px
  &:last-child
    margin-right: 0

@media (max-width: 800px)
  .row
    flex-direction: column
    margin-bottom: 0

  .item
    width: 100%
    margin-bottom: 10px
    margin-right: 0
