*, *:before, *:after
  background-repeat: no-repeat
  box-sizing: border-box

*:focus
  outline: none

html,
body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

html
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #222
  line-height: 1.43

input[type=checkbox],
input[type=button],
input[type=submit],
input[type=reset],
input[type=radio],
input[type=file],
button
  cursor: pointer

textarea,
button,
input
  font-family: inherit

h1,
h2,
h3,
h4,
h5,
h6
  margin-top: 0
  margin-bottom: 0

a
  text-decoration: none
